body{
    margin: 0;
    padding: 0;
}

.btn-group{
    margin-left: 43rem;
    margin-top: -.5rem;
}

.P{
    margin-left: 1.5rem;
}

.L2{
    margin-left: 3rem;
    font-size: 1.5em;
    padding-top: 1vh;
    padding-bottom: 1vh;
}